
<div style="position: relative; overflow: hidden;" class="uk-position-relative uk-margin-large-top">
    <video #promoVideo src="https://marketing.host2africa.com/drive/tceu/tceu-bg-2.mp4" poster="" preload="auto"
        autoplay muted loop playsinline uk-cover
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;border-radius: 0px 0px 0px 0px; "></video>

    <div class="uk-container uk-position-relative uk-visible-toggle" tabindex="-1"
        uk-slideshow="animation: fade; autoplay: true; autoplay-interval: 4000">
        <div class="uk-slideshow-items" style="height: 80vh;">

            <app-hero></app-hero>
            
    </div>
</div>