<div class="uk-position-relative">
  <nav class="uk-navbar-container">
    <div class="uk-container">
      <div uk-navbar="dropbar: true">

        <!-- LEFT -->
        <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
            <li class="uk-logo">
              <a routerLink="/" class="texto">
                <img class="uk-border-rounded" style="height: 60px; width: auto" src="/img/clouds2europe-azul.png" />
              </a>
            </li>
          </ul>

          <ul class="uk-navbar-nav uk-visible@m">

            <!-- CLOUD PLATFORM -->
            <li>
              <a href="#" class="uk-navbar-toggle" uk-toggle="target: #cloud-dropdown">
                Cloud Servers
              </a>

              <div id="cloud-dropdown" class="uk-navbar-dropdown uk-navbar-dropdown-width-3" hidden>
                <div class="uk-drop-grid uk-child-width-1-3" uk-grid>

                  <!-- CLOUD CORE -->
                  <div>
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                      <li class="uk-nav-header">
                        <b>
                          <span class="uk-margin-small-right" uk-icon="cloud"></span>
                          Cloud Core
                        </b>
                      </li>

                      <li>
                        <a [routerLink]="['/cloud']" fragment="compute">
                          Virtual Machines (IaaS)
                        </a>
                      </li>
                      <li>
                        <a [routerLink]="['/cloud']" fragment="storage">
                          Storage as a Service
                        </a>
                      </li>
                      <li>
                        <a [routerLink]="['/cloud']" fragment="backup">
                          Backup as a Service
                        </a>
                      </li>
                      <li>
                        <a [routerLink]="['/cloud']" fragment="kubernetes">
                          Managed Kubernetes
                        </a>
                      </li>
                      <li>
                        <a [routerLink]="['/cloud']" fragment="vm">
                          VMware Alternative
                        </a>
                      </li>
                    </ul>
                  </div>

                  <!-- CLOUD SECURITY -->
                  <div>
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                      <li class="uk-nav-header">
                        <b>
                          <span class="uk-margin-small-right" uk-icon="lock"></span>
                          Cloud Security
                        </b>
                      </li>

                      <li>
                        <a [routerLink]="['/cloud']" fragment="firewall">
                          Firewall as a Service
                        </a>
                      </li>
                      <li>
                        <a [routerLink]="['/cloud']" fragment="antiddos">
                          Anti-DDoS Protection
                        </a>
                      </li>
                      <li>
                        <a [routerLink]="['/cloud']" fragment="secure-access">
                          Secure Access (VPN / Zero Trust)
                        </a>
                      </li>
                    </ul>
                  </div>

                  <!-- PLATFORM -->
                  <div>
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                      <li class="uk-nav-header">
                        <b>
                          <span class="uk-margin-small-right" uk-icon="settings"></span>
                          Platform
                        </b>
                      </li>

                      <li><a routerLink="/solution">Cloud Portal</a></li>
                      <li><a routerLink="/solution">Monitoring</a></li>
                      <li><a routerLink="/solution">Billing & Cost Control</a></li>
                    </ul>
                  </div>

                </div>
              </div>
            </li>

            <li><a routerLink="/solution">Managed Servers</a></li>
            <li><a routerLink="/solution">Colocation</a></li>

            <li><a routerLink="/company">Company</a></li>

          </ul>
        </div>

        <!-- RIGHT -->
        <div class="uk-navbar-right uk-visible@m">
          <ul class="uk-navbar-nav">
            <li>
              <a routerLink="/service-contact">
                <button class="uk-button" style="
                    background-color: #6fe0fc;
                    color: #002561;
                    border-radius: 40px;
                    padding: 6px 22px;
                    box-shadow: 0 4px 4px rgba(0,0,0,.25);
                  ">
                  Contact Us
                </button>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </nav>

  <!-- MOBILE -->
  <div class="uk-hidden@m">
    <nav class="uk-navbar-container">
      <div class="uk-container">
        <div uk-navbar>
          <div class="uk-navbar-left">
            <a routerLink="/">
              <img style="width: 120px" src="/img/clouds2europe-azul.png" />
            </a>
          </div>

          <div class="uk-navbar-right">
            <a uk-navbar-toggle-icon uk-toggle="target: #offcanvas-cloud"></a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- MOBILE OFFCANVAS -->
  <div id="offcanvas-cloud" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
      <ul class="uk-nav uk-nav-default">

        <li class="uk-nav-header">Cloud Platform</li>
        <li><a routerLink="/cloud">Compute</a></li>
        <li><a routerLink="/cloud">Storage</a></li>
        <li><a routerLink="/cloud">Backup</a></li>
        <li><a routerLink="/cloud">Kubernetes</a></li>
        <li><a routerLink="/cloud">Security</a></li>

        <li class="uk-nav-divider"></li>
        <li><a routerLink="/solution">Solutions</a></li>
        <li><a routerLink="/company">Company</a></li>
        <li><a routerLink="/service-contact">Contact</a></li>

      </ul>
    </div>
  </div>
</div>