<div class="uk-position-relative">
  <nav class="uk-navbar-container">
    <div class="uk-container">
      <div uk-navbar="dropbar: true">

        <!-- LEFT -->
        <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
            <li class="uk-logo">
              <a routerLink="/" class="texto">
                <img class="uk-border-rounded" style="height: 60px; width: auto" src="/img/clouds2europe-azul.png" />
              </a>
            </li>
          </ul>

          <ul class="uk-navbar-nav uk-visible@m">

            <!-- CLOUD PLATFORM -->
            <li>
              <a href="#" class="uk-navbar-toggle" uk-toggle="target: #cloud-dropdown">
                Cloud Servers
              </a>

               </li>

            <li><a routerLink="/solution">Dedicated Servers</a></li>
            <li><a routerLink="/solution">Colocation</a></li>

            <li><a routerLink="/company">Cloud Security</a></li>

          </ul>
        </div>

        <!-- RIGHT -->
        <div class="uk-navbar-right uk-visible@m">
          <ul class="uk-navbar-nav">
            <li>
              <a routerLink="/service-contact">
                <button class="uk-button" style="
                    background-color: #6fe0fc;
                    color: #002561;
                    border-radius: 40px;
                    padding: 6px 22px;
                    box-shadow: 0 4px 4px rgba(0,0,0,.25);
                  ">
                  Create Account
                </button>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </nav>

  <!-- MOBILE -->
  <div class="uk-hidden@m">
    <nav class="uk-navbar-container">
      <div class="uk-container">
        <div uk-navbar>
          <div class="uk-navbar-left">
            <a routerLink="/">
              <img style="width: 120px" src="/img/clouds2europe-azul.png" />
            </a>
          </div>

          <div class="uk-navbar-right">
            <a uk-navbar-toggle-icon uk-toggle="target: #offcanvas-cloud"></a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- MOBILE OFFCANVAS -->
  <div id="offcanvas-cloud" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
      <ul class="uk-nav uk-nav-default">

        <li class="uk-nav-header">Cloud Platform</li>
        <li><a routerLink="/cloud">Compute</a></li>
        <li><a routerLink="/cloud">Storage</a></li>
        <li><a routerLink="/cloud">Backup</a></li>
        <li><a routerLink="/cloud">Kubernetes</a></li>
        <li><a routerLink="/cloud">Security</a></li>

        <li class="uk-nav-divider"></li>
        <li><a routerLink="/solution">Solutions</a></li>
        <li><a routerLink="/company">Company</a></li>
        <li><a routerLink="/service-contact">Contact</a></li>

      </ul>
    </div>
  </div>
</div>